<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <div class="row"><p class="intro">Enter your desired Starbucks location below to determine how current foot traffic</p></div>
            <div class="row"><app-search></app-search></div>
        </div>
        <div class="col-flex">
            <div class="row"><p class="title">About</p></div>
            <div class="row"><p class="text">quikdrop gives users more control of their time by providing insights into store foot traffic. The goal is to create more enjoyable shopping experiences.</p></div>
            <div class="row"><p class="title">Limitations</p></div>
            <div class="row"><p class="text">quikdrop uses machine algorithms to predict foot traffic. At times, this data might not be accurate. As the user base grows, accuracy will improve.</p></div>
        </div>
    </div>
</div>
