.intro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: start;
}

.box{
    word-wrap: break-word;
}

.brder{
    border:red;
}

.svg-div{
    border: 10px solid #b6bdc3;
  width: 100%;
  background: #fff;
  margin: 0 auto;
}

.container{
    margin-top: 8%; 
}