<!-- landing page -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <div class="row box">
                    <h1 class="display-3 intro">Why wait until you get to Starbucks to know how busy it is? Let us tell
                        you</h1>
                </div>
                <div class="row"><app-search></app-search></div>
            </div>
            <div class="col-3 float-end .svg-div">
                <img src="assets/CNTower.svg" alt="CN Tower">
            </div>
        </div>
    </div>
</div>